@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply text-slate-100;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-slate-700 bg-fixed bg-center bg-cover w-full;
}

body::before {
  content: '';
  @apply fixed w-full h-full top-0 left-0 from-transparent to-black bg-gradient-to-l;
}

#root {
  @apply w-full xl:overflow-hidden min-h-screen;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
